body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f0f0f0;
}
/*Header Styles*/
.title {
  font-size: 7em !important;
}
.logo-style {
  color: #11caca;
  font-weight: 700;
}
.about-style {
  font-size: 12em !important;
  margin: -10% 0 -5% 0;
}
#searchSection {
  margin: 5%;
  position: absolute;
  bottom: 0;
  left: 0;
}
form {
  display: inline-block;
  bottom: 0;
  left: 0;
}
#search-Box {
  outline: none;
  width: 45vw;
  color: #fff;
  font-size: 8em;
  padding: 0;
  border: none;
  background: #11caca;
  transition: background 2s, border-left 2s;
}
#search-Box:focus {
  background: #fff;
  color: #11caca;
  border-left: 0.2em solid;
}
#searchButton {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  border: none;
  font-weight: bolder;
  background-color: #11caca;
  color: #fff;
}
/*Results Section styles*/
#resultsSection {
  text-align: center;
}
#resultsSection .message {
  font-size: 2em;
  font-weight: bold;
  padding: 1em 0.5em;
}
#resultsSection .message .custom-message {
  color: #11caca;
  text-shadow: 1px 1px #9E9E9E;
}
#resultsSection #photo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
#resultsSection #photo-list .img-style {
  width: 20em;
  padding: 2em;
  margin: 2em;
  background-color: #fff;
}
#resultsSection .returnBtn {
  width: 50%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #11caca;
  color: #11caca;
  cursor: pointer;
  font-size: 2em;
  padding: 0.5em 0;
  transition: background 2s, color 2s;
  outline: none;
}
#resultsSection .returnBtn:hover {
  background: #11caca;
  color: #fff;
  outline: none;
}
/* Media Query Styles */
@media (min-width: 901px) and (max-width: 1280px) {
  #searchSection {
    margin: 0 0 3% 4%;
  }
  .title {
    font-size: 5.2em !important;
  }
  .about-style {
    font-size: 9em !important;
    margin: -10% 0 -5% 0;
  }
  #search-Box {
    width: 45vw;
    font-size: 6em;
  }
  .message {
    font-size: 2em;
    font-weight: bold;
    padding: 1em 0.5em;
  }
  .message .custom-message {
    color: #11caca;
    text-shadow: 1px 1px #9E9E9E;
  }
  .returnBtn {
    width: 80%;
  }
}
@media (min-width: 0px) and (max-width: 900px) {
  #searchSection {
    margin: 0;
  }
  .title {
    font-size: 4em !important;
  }
  .about-style {
    font-size: 8em !important;
    display: block;
  }
  #search-Box {
    width: 80vw;
    font-size: 5em;
  }
  /* Results styles */
  .message {
    font-size: 1.5em !important;
    padding: 1em 0.5em !important;
  }
  .returnBtn {
    width: 100% !important;
  }
}
