<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memories</title>
    <link rel="icon" href="images/favicon.png">
    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href=https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
  </head>
  <body  ng-app="imgApp" ng-controller="MemoriesCtrl as vm">
    <section ng-hide="vm.showResults" id="searchSection">
      <p class="title">
        Find me<br>
        <span class="logo-style">memories</span>
        <form id="search-Form" name="vm.searchForm" ng-submit="vm.displayMemories()" novalidate>
          <label for="search-Box" class="about-style">about </label>
          <input id="search-Box" name="searchbox" type="text" ng-chage="vm.validationBox()" ng-model="vm.searchTerm" placeholder=" Pets..." required />
          <button type="submit" name="searchButton" id="searchButton">
          Find
          </button>
        </form>
      </p>
      <div id="validation" ng-messages="vm.searchForm.searchBox.$error" ng-if="(vm.searchForm.$submitted || vm.searchForm.searchbox.$dirty) && !vm.searchForm.searchbox.$valid ">
        <div id="error">
          <p ng-message="required">
            CATS <br>
            PARIS <br>
            <span>AngularJS</span>
          </p>
        </div>
      </div>
    </section>
    <section ng-hide="!vm.showResults" id="resultsSection">
    <nav id="nav-refresh">
    <button class="returnBtn" ng-click="vm.refreshSearch()">Refresh my Memories</button></nav>
      
           <div class="message" ng-if="vm.loadingMsg">
        We are loading your memories
      </div>

      <div class="message" ng-if="!vm.loadingMsg">
        We Found
        <span class="custom-message">{{ vm.photosTotal }}</span>
        memories of
        <span class="custom-message">{{ vm.searchTerm }}</span>
      </div>
      <div class="message" ng-if="vm.errorRequest">
        Upsss...there was an error, try again please!
      </div>
      
      <div id="results" class="container">
        <div id="photo-list" class="row" ng-repeat="photo in vm.photos">
            <div style="background-image: url(https://farm{{photo.farm}}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}.jpg)" class="img-style col-xs-12 col-md-4">
            </div>
         
        </div>
      </div>
    </section>
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="app/app.js"></script>
  </body>
</html>